body {
  font-family: 'Montserrat', sans-serif;
}

* {
  outline: 1px solid red;
}

.menubar {
  display: flex;
  background-color: #373e46;
  max-height: 8em;
}

.navbar {
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  max-width: 85%;
  align-items: flex-end;
  margin-left: 40%;
  margin-right: 5%;
  word-spacing: 10px;
  color: white;
  font-weight: bold;
}

.titbar {
  max-height: 6px;
  max-width: 6px;
}

.main {
  text-align: center;
  color: white;
  background-image: url(housebg.png);
  
}

.mid {
  background-color: #31a1d0;
  text-align: center;
  color: #25789b;
}

.steps {
  background-color: #f7f7f7;

  color: #a7b3b8;
}

.step1{

  max-width: 50%;
}

.step2{

  max-width: 50%;
}

.step3{

  max-width: 50%;
}

.info {
  background-color: #ffffff;
  text-align: left;
  display: grid;
  grid-template-columns: (2, 1fr);
}

.infomain{
grid-column: 1 / 2;
}

.infomain h5 {
  color: lightblue;
  :
}

.infopic{
grid-column: 2 / 2;
}

.form {
  background-color: #373e46;
  display: grid;
  grid-template-columns: (2, 1fr);
}

.formtxt {
  text-align: center;
  grid-column: 1 / 2;
}
.formbox{
  grid-column: 2 / 2;
}

.form1{
  display: inline-grid;
}

.signmeup{}

.free {
  color: #31a1d0;
}

.description1 {
  background-color: #42a8d1;
  color: white;
  display: flex;
}

.desctext1{
  flex-direction: row;


  max-width: 50%;
}

.footer {
  background-color: #373e46;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer p {
  max-width: 65%;
  color: white;
}
